*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root */
:root{
    --generic-padding: 10;
    --generic-font-size: 16;
    --generic-font-weight: 600;
    --generic-color: rgb(151, 147, 147);
    --generic-border-color: rgb(88, 87, 87);

    /* Category wise color combos */
    --personal: coral;
    --work: mediumaquamarine;
    --college: orchid;
    --other: darkolivegreen;

    /* Font family whole document */
    font-family: sans-serif;
}

/* body */
body{
    color: var(--generic-color);
    background-color: rgb(161, 190, 243);
}

/* The whole todo app layout */
.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid rgb(48, 48, 47);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgb(247, 247, 247);
}

.container >*{
    border-top: 1px solid var(--generic-border-color);
}

/* Heading */
.container h1{
    text-align: center;
    margin-top: 10px;
    border-top: none;
}

/* Description section */
.desc{
    padding: calc(var(--generic-padding) * 1px);
    margin-bottom: 15px;
    margin-top: 15px;
}
.desc p{
    margin-bottom: 2px;
    font-weight: var(--generic-font-weight);
}
.desc input{
    width: 100%;
    border: 0;
    outline: none;
    background-color: inherit;
    font-size: calc(var(--generic-font-size) * 1px);
}

/* Category and due date section */
.category-date-div{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.category-date-div >*{
    flex-basis: 50%;
    padding: calc(var(--generic-padding) * 1px);
    font-weight: var(--generic-font-weight);
}

.category-date-div input, select{
    border: 0;
    outline: none;
    font-size: calc(var(--generic-font-size) * 1px);
    color: var(--generic-color);
    background-color: inherit;
}

.category-date-div p{
    margin-bottom: 2px;
}

.due-date{
    border-left: 1px solid var(--generic-border-color);
}

/* Add and delete buttons */
.add-delete-btns-div{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.add-delete-btns-div button{
    margin-left: 10px;
    margin-right: 10px;
    width: 175px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    text-align: center;
    font-size: calc((var(--generic-font-size) + 2) * 1px);
    cursor: pointer;
}

.add-delete-btns-div button >*{
    padding: 8px;
}

.add-delete-btns-div .add-btn{
    background-color: rgb(48, 45, 45);
    color: aliceblue;
}
.add-delete-btns-div .delete-btn{
    background-color: rgb(252, 70, 70);
    color: aliceblue;
}

.add-delete-btns-div .add-btn:hover{
    box-shadow: 0px 0px 10px 10px rgb(177, 173, 173);
}
.add-delete-btns-div .delete-btn:hover{
    box-shadow: 0px 00px 10px 10px rgb(177, 173, 173);
}

.add-delete-btns-div span{
    text-align: center;
}

/* Total Tasks */
.total-tasks{
    text-align: right;
    border: 0;
    padding: 5px;
}
#total-tasks{
    font-weight: 600;
}

/* Todo list layout */
.list-div{
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgb(32, 28, 28);
}

.list-div::-webkit-scrollbar{
    display: none;
}

.list-div .lists li{
    height: 60px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
}


/* Individual Tasks */

.individual-task-li{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: inherit;
}

.individual-task-li >*{
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
}

.individual-task-li input{
    align-self: flex-start;
    margin-top: 3px;
}
.individual-task-li .task-due-date-div{
    width: 70%;
}

.individual-task-li .task-due-date-div p:first-child{
    overflow: scroll;
    font-weight: 600;
    margin-bottom: 2px;
}

.individual-task-li .task-due-date-div p:first-child::-webkit-scrollbar{
    display: none;
}
.individual-task-li .task-due-date-div p:last-child{
    font-size: 14px;
    margin-left: 4px;
    
}
.individual-task-li .task-due-date-div p span{
    margin-right: 5px;
    padding-right: 5px;
}

.individual-task-li .individual-task-category{
    width: 100px;
    text-align: center;
    border-radius: 10px;
    color: aliceblue;
}
.individual-task-li .individual-task-category p{
    padding: 5px;
}

/* Custom cards design*/
.cat-Personal{
    background-color: var(--personal);
}

.cat-Personal-border{
    border: 2px solid var(--personal);
}

.cat-Work{
    background-color: var(--work);
}

.cat-Work-border{
    border: 2px solid var(--work);
}

.cat-College{
    background-color: var(--college);
}

.cat-College-border{
    border: 2px solid var(--college);
}

.cat-Other{
    background-color: var(--other);
    
}

.cat-Other-border{
    border: 2px solid var(--other);
}